<h1>Leaderboard</h1>

<table>
<thead>
<tr>
<th>Position</th>
<th>Email</th>
<th>Weight</th>
</tr>
</thead>

<tbody>
<% @ranking.each do |rank| %>
<tr>
<td><%= @ranking.find_index(rank) +1 %></td>
<td><%= rank[0].email %></td>
<td><%= rank[1] %></td>
</tr>
<% end%>
</tbody>
</table>

<br>